# Importing Libraries

In [41]:
import pandas as pd
import numpy as np
import nltk

# Dataset

In [ ]:
df=pd.read_html('C:/Users/Apar/Desktop/india-news-headlines.csv')
df.head()

In [25]:
df.shape

(2969922, 3)

In [26]:
df=df.iloc[:10,-1]

In [27]:
df

0    win over cena satisfying but defeating underta...
1                                          Raju Chacha
2    Status quo will not be disturbed at Ayodhya; s...
3                  Fissures in Hurriyat over Pak visit
4                America's unwanted heading for India?
5                   For bigwigs; it is destination Goa
6                 Extra buses to clear tourist traffic
7          Dilute the power of transfers; says Riberio
8                    Focus shifts to teaching of Hindi
9                 IT will become compulsory in schools
Name: headline_text, dtype: object

# Tokenize sentences

In [28]:
from nltk.tokenize import WhitespaceTokenizer 
     
# Create a reference variable for Class WhitespaceTokenizer 
tk = WhitespaceTokenizer() 
for i in df:
    print(tk.tokenize(i))

['win', 'over', 'cena', 'satisfying', 'but', 'defeating', 'undertaker', 'bigger', 'roman', 'reigns']
['Raju', 'Chacha']
['Status', 'quo', 'will', 'not', 'be', 'disturbed', 'at', 'Ayodhya;', 'says', 'Vajpayee']
['Fissures', 'in', 'Hurriyat', 'over', 'Pak', 'visit']
["America's", 'unwanted', 'heading', 'for', 'India?']
['For', 'bigwigs;', 'it', 'is', 'destination', 'Goa']
['Extra', 'buses', 'to', 'clear', 'tourist', 'traffic']
['Dilute', 'the', 'power', 'of', 'transfers;', 'says', 'Riberio']
['Focus', 'shifts', 'to', 'teaching', 'of', 'Hindi']
['IT', 'will', 'become', 'compulsory', 'in', 'schools']

In [29]:
from nltk.tokenize import WordPunctTokenizer 
     
# Create a reference variable for Class WordPunctTokenizer 
tk = WordPunctTokenizer()
for i in df:
    print(tk.tokenize(i))

['win', 'over', 'cena', 'satisfying', 'but', 'defeating', 'undertaker', 'bigger', 'roman', 'reigns']
['Raju', 'Chacha']
['Status', 'quo', 'will', 'not', 'be', 'disturbed', 'at', 'Ayodhya', ';', 'says', 'Vajpayee']
['Fissures', 'in', 'Hurriyat', 'over', 'Pak', 'visit']
['America', "'", 's', 'unwanted', 'heading', 'for', 'India', '?']
['For', 'bigwigs', ';', 'it', 'is', 'destination', 'Goa']
['Extra', 'buses', 'to', 'clear', 'tourist', 'traffic']
['Dilute', 'the', 'power', 'of', 'transfers', ';', 'says', 'Riberio']
['Focus', 'shifts', 'to', 'teaching', 'of', 'Hindi']
['IT', 'will', 'become', 'compulsory', 'in', 'schools']

In [31]:
from nltk.tokenize import TreebankWordTokenizer 
     
# Create a reference variable for Class WordPunctTokenizer 
tk = TreebankWordTokenizer()
for i in df:
    print(tk.tokenize(i))

['win', 'over', 'cena', 'satisfying', 'but', 'defeating', 'undertaker', 'bigger', 'roman', 'reigns']
['Raju', 'Chacha']
['Status', 'quo', 'will', 'not', 'be', 'disturbed', 'at', 'Ayodhya', ';', 'says', 'Vajpayee']
['Fissures', 'in', 'Hurriyat', 'over', 'Pak', 'visit']
['America', "'s", 'unwanted', 'heading', 'for', 'India', '?']
['For', 'bigwigs', ';', 'it', 'is', 'destination', 'Goa']
['Extra', 'buses', 'to', 'clear', 'tourist', 'traffic']
['Dilute', 'the', 'power', 'of', 'transfers', ';', 'says', 'Riberio']
['Focus', 'shifts', 'to', 'teaching', 'of', 'Hindi']
['IT', 'will', 'become', 'compulsory', 'in', 'schools']

# Stemming

In [34]:
from nltk.stem import PorterStemmer 
from nltk.tokenize import word_tokenize 
   
ps = PorterStemmer()    
#sentence = "Programers program with programing languages"
for i in df:
    words = word_tokenize(i) 
    for w in words: 
        print(ps.stem(w),end=",")
    print()

win,over,cena,satisfi,but,defeat,undertak,bigger,roman,reign,
raju,chacha,
statu,quo,will,not,be,disturb,at,ayodhya,;,say,vajpaye,
fissur,in,hurriyat,over,pak,visit,
america,'s,unwant,head,for,india,?,
for,bigwig,;,it,is,destin,goa,
extra,buse,to,clear,tourist,traffic,
dilut,the,power,of,transfer,;,say,riberio,
focu,shift,to,teach,of,hindi,
IT,will,becom,compulsori,in,school,

# Lemmatization

In [35]:
from nltk.stem import WordNetLemmatizer 
lemmatizer = WordNetLemmatizer()
for i in df:
    words = word_tokenize(i) 
    for w in words: 
        print(lemmatizer.lemmatize(w),end=",")
    print()

win,over,cena,satisfying,but,defeating,undertaker,bigger,roman,reign,
Raju,Chacha,
Status,quo,will,not,be,disturbed,at,Ayodhya,;,say,Vajpayee,
Fissures,in,Hurriyat,over,Pak,visit,
America,'s,unwanted,heading,for,India,?,
For,bigwig,;,it,is,destination,Goa,
Extra,bus,to,clear,tourist,traffic,
Dilute,the,power,of,transfer,;,say,Riberio,
Focus,shift,to,teaching,of,Hindi,
IT,will,become,compulsory,in,school,

# BOW Feature Extraction

In [38]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
X=cv.fit_transform(df)
df2=pd.DataFrame(X.toarray(),columns=cv.get_feature_names())
df2.head()

,america,at,ayodhya,be,become,bigger,bigwigs,buses,but,cena,...,to,tourist,traffic,transfers,undertaker,unwanted,vajpayee,visit,will,win
0,0,0,0,0,0,1,0,0,1,1,...,0,0,0,0,1,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

# Tfidf Feature Extraction

In [39]:
from sklearn.feature_extraction.text import TfidfVectorizer
cv=TfidfVectorizer()
X=cv.fit_transform(df)
df2=pd.DataFrame(X.toarray(),columns=cv.get_feature_names())
df2.head()

,america,at,ayodhya,be,become,bigger,bigwigs,buses,but,cena,...,to,tourist,traffic,transfers,undertaker,unwanted,vajpayee,visit,will,win
0,0.000000,0.000000,0.000000,0.000000,0.0,0.320706,0.0,0.0,0.320706,0.320706,...,0.0,0.0,0.0,0.0,0.320706,0.000000,0.000000,0.000000,0.000000,0.320706
1,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.325381,0.325381,0.325381,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.325381,0.000000,0.276603,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.428537,0.000000,0.000000
4,0.460158,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.460158,0.000000,0.000000,0.000000,0.000000